
<% include ./partials/header %>
<h1> Sign up now </h1>


<form action ="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button> Sign up now </button>
</form>

<% include ./partials/footer %>